<!--Filename: head.ejs
Author name: Jishnu Sundar
Website Name: portoflioassgn-js.herokuapp.com
Description: Partial for CSS links-->
  <meta charset="utf-8">
  <meta name="viewport" Content="width=device-width, initial-scale=1">
    <title><%= title %></title>
<link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.css' />

    