<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" Content="width=device-width, initial-scale=1">
    <title><%= title %></title>
<link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/Content/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <!-- Scripts -->
<Script src="/Scripts/lib/jquery/dist/jquery.min.js"></Script>
<Script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></Script>
<Script src="/Content/app.js"></Script>
  </body>
</html>
