<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../views/partials/head %>
    
  </head>
  <body>
    <div id="wrapper">
        <div class="overlay"></div>
    
<% include ../views/partials/sidebar %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1><%= title %></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ratione nostrum itaque enim perspiciatis vero autem vitae illum, excepturi facilis modi placeat repellendus. Facilis molestias error, dolorem beatae. Quam blanditiis facilis, consequatur iure laboriosam quasi delectus dignissimos error a provident at perferendis tempore rem, cumque quisquam amet dolore nulla nisi nobis. Dolorum, inventore. Quasi illum tempora nihil dolorum eos, minima doloribus, molestias qui dignissimos temporibus incidunt ut dicta vitae quaerat praesentium, voluptatem sint nesciunt amet vel eius. Non expedita voluptatibus dolores? Repudiandae eveniet ipsa inventore placeat. Cumque praesentium distinctio libero voluptatibus optio impedit, ea consequuntur fuga, tenetur, atque, error consectetur? Odio in mollitia hic repellat deleniti praesentium quis repudiandae perferendis aut rem natus consequatur dolor, error deserunt, tempora quam. Optio ut earum amet nemo esse, beatae, distinctio mollitia officiis dicta modi delectus nisi enim accusantium, repudiandae consequuntur doloremque, iure quaerat. Est cumque recusandae iusto tempora consequatur quam quas sapiente, adipisci eum soluta voluptas porro accusantium nemo! Saepe perferendis laborum ipsum fugiat provident assumenda sequi? Blanditiis ullam earum mollitia in nemo laboriosam consequatur ducimus, iste officia nesciunt fugit voluptates maxime asperiores, optio explicabo voluptas officiis minus consequuntur totam laborum! Tenetur, facilis quia nisi atque sunt odio excepturi debitis veniam molestias nemo!</p>                     
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aut placeat natus, impedit explicabo delectus odit! Consequuntur mollitia, esse qui asperiores quas, necessitatibus distinctio commodi facere ea minus quaerat quos sunt vitae accusamus placeat delectus reiciendis molestias harum minima deserunt aperiam temporibus doloremque sapiente, fuga reprehenderit. Ea quibusdam non voluptatem modi enim eveniet est, qui maxime ducimus fugit laborum. Dolore non consequuntur, blanditiis recusandae ad harum ratione repellendus sapiente, quaerat numquam quasi, officia nostrum eos, enim modi neque? Quae amet harum assumenda optio voluptas ea ut explicabo, eum autem laudantium ex voluptatum necessitatibus cupiditate, quas in, voluptatibus deleniti provident ullam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sequi ratione magni sit accusantium, dolorum nisi, mollitia vitae labore, hic quo? Error in, aut iste? Unde consequatur, molestias quisquam necessitatibus totam assumenda iusto quas aliquam odit optio asperiores veritatis, maiores esse doloribus, reiciendis quos, ut fuga rerum! Perspiciatis, iusto, velit.</p> 
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
 
    <% include ../views/partials/scriptPartials %>
  </body>
</html>
