<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../views/partials/head %>
  </head>
  <body>

  <!-- Side bar -->
<% include ../views/partials/sidebar %>

<!-- Side bar ends -->

<div id="main-page-wrapper" style="padding-top: 30px; padding-right: 100px;">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam explicabo, itaque officia dolor, ad quidem? Aliquam impedit expedita maxime odit unde iusto labore, sapiente libero ullam fugiat animi molestias. Eos doloribus corporis laborum quibusdam eveniet perferendis quas ipsa sed asperiores ad esse voluptatibus, autem nobis sit nesciunt soluta ut incidunt excepturi quos provident ipsam. Incidunt ut neque recusandae ad nisi beatae quasi necessitatibus illum quo cupiditate voluptates corporis officiis voluptas, ea ipsum saepe magnam modi laboriosam quaerat et. Odit iste assumenda non ex quae. Vel voluptas rem harum illum numquam nihil dignissimos quae architecto, hic inventore totam ea iste quaerat.</p>
</div>

    <!-- Scripts -->
<% include ../views/partials/scriptPartials %>

  </body>
</html>
