<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" Content="width=device-width, initial-scale=1">
    <title><%= title %></title>
<link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/Content/style.css' />
  </head>
  <body style="background-color: #F4F9F4">
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">

<!-- Logo section -->
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="#" class="navbar-brand">JS</a>
</div>

<!-- Menu items section -->
<div class="collapse navbar-collapse" id="mainNavBar">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Contact Me</a></li>
</ul>
</div>

</div>
</nav>


    <!-- Scripts -->
<Script src="/Scripts/lib/jquery/dist/jquery.min.js"></Script>
<Script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></Script>
<Script src="/Content/app.js"></Script>
  </body>
</html>
